name: build

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 16, 18 ]
    name: Node ${{ matrix.node }} build
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: npm ci
        run: npm ci
      - name: npm test
        run: npm test
      - name: coverage artifact
        uses: actions/upload-artifact@v3
        with:
          name: coveralls_node_${{ matrix.node }}_r${{ github.run_id }}_${{ github.run_number }}
          path: coverage
      - name: fix lcov.info
        run: |
          sed -i -E 's/SF:(\.\.\/\.\.(.+))/SF:\2/' coverage/lcov.info
      - name: coveralls
        uses: coverallsapp/github-action@v1
        with:
          flag-name: node-${{ matrix.node }}
          parallel: true

  report:
    needs: build
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - name: coveralls report
      uses: coverallsapp/github-action@v1
      with:
        parallel-finished: true
        carryforward: "node-16,node-18"
